@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Young+Serif&display=swap');
body{
  width: 1890px;
  height: 900px;
  background-image: url(/src/assets/back.jpg);
  font-family:'Open Sans'
}